<%= render "shared/teamnav" %>
<div class="container-full">
	
	

 <h1>Add Your Fantasy Basketball Team</h1>
 <p><%= link_to "Import Your Team", user_path(current_user) , class: 'btn btn-lg btn-success' %></p>


</div>	
<%= render "shared/footer" %>		 